{{#section 'title'}} Product Information {{/section}}

{{#section 'css_js'}}
    <link rel="stylesheet" type="text/css" href="/assets/css/productInformation.css">
{{/section}}

{{!-- Bên dưới này là nội dung trình bày body của template: {{{body}}} tronng main.handlebars --}}
<section>
    <ul class="breadcrumb">
        <li>
            <a href="/home" title="Trang chủ">Trang chủ</a>
            <span> > </span>
            <a title="điện thoại">điện thoại</a>
            <span>></span>
            <a title="Samsung">SamSung</a>
        </li>
    </ul>
    <div>
        <h1>Điện thoại Samsung Galaxy J7 pro</h1>
        <div class="ratingresult">
            <a href="#danhgia">35 đánh giá</a>
        </div>
    </div>
    <div class="clr"></div>
    <aside class="picture">
        <img src="img/product/Samsung/samsung-galaxy-j7-pro.png" alt="điện thoại samsung J7 pro">
    </aside>
    <aside class="area_price">
        <strong>6.090.000đ</strong>
        <div class="tsh">
            <span>NHẬN HÀNG TRONG 1 GIỜ</span>
        </div>
        <div class="area_promotion zero">
            <strong data-count="3">Khuyến mãi</strong>
            <h3>Phiếu mua hàng trị giá 100.000đ khi mua online</h3>
            <h3>Thùng cocacola (24 lon)</h3>
        </div>
        <div class="area_promotion zero">
            <strong data-count="3">Số lượt mua</strong>
            <h3>121 lượt mua samsung galaxy J7 pro</h3>
        </div>
    </aside>
    <div class="rightInfo">
        <ul class="checkexist">
            <strong>Kiểm tra: </strong>
            <ul>
                <ul class="policy">
                    <li>
                        Trong hộp có: Sạc, Tai nghe, Sách hướng dẫn, Cáp, Cây lấy sim
                    </li>
                    <li>
                        Bảo hành chính hãng 12 tháng
                    </li>
                    <li>
                        1 đổi 1 nếu xảy ra lỗi sản phẩm tại nhà trong 1 ngày
                    </li>
                </ul>
    </div>
    <div class="clr"></div>
    <div class="box_content">
        <aside class="left_content">
            <div class="characteristics">
                <h2 style="font-size: 24px">Đặc điểm nổi bật của Samsung Galaxy J7 Pro</h2>
                <br/>
                <div class="slideshow-container">
                    <div class="mySlides fade">
                        <img src="img/slide/slide-1.jpg" style="width:100%">
                    </div>

                    <div class="mySlides fade">
                        <img src="img/slide/slide-2.jpg" style="width:100%">
                    </div>

                    <div class="mySlides fade">
                        <img src="img/slide/slide-3.jpg" style="width:100%">
                    </div>

                    <div class="mySlides fade">
                        <img src="img/slide/slide-4.jpg" style="width:100%">
                    </div>
                    <div class="mySlides fade">
                        <img src="img/slide/slide-5.jpg" style="width:100%">
                    </div>
                    <div class="mySlides fade">
                        <img src="img/slide/slide-6.jpg" style="width:100%">
                    </div>
                    <div class="mySlides fade">
                        <img src="img/slide/slide-7.jpg" style="width:100%">
                    </div>
                </div>
                <script>
                    //khai báo biến slideIndex đại diện cho slide hiện tại
                    var slideIndex;
                    // KHai bào hàm hiển thị slide
                    function showSlides() {
                        var i;
                        var slides = document.getElementsByClassName("mySlides");
                        for (i = 0; i < slides.length; i++) {
                            slides[i].style.display = "none";
                        }

                        slides[slideIndex].style.display = "block";
                        //chuyển đến slide tiếp theo
                        slideIndex++;
                        //nếu đang ở slide cuối cùng thì chuyển về slide đầu
                        if (slideIndex > slides.length - 1) {
                            slideIndex = 0
                        }
                        //tự động chuyển đổi slide sau 3s
                        setTimeout(showSlides, 5000);
                    }
                    //mặc định hiển thị slide đầu tiên 
                    showSlides(slideIndex = 0);


                    function currentSlide(n) {
                        howSlides(slideIndex = n);
                    }
                </script>
            </div>
        </aside>
        <aside class="right_content">
            <div class="tableparameter">
                <h2 style="font-size: 24px">Thông số kĩ thuật</h2>
                <br />
                <ul class="parameter">
                    <li>
                        <span>Màn hình:</span>
                        <span>Super AMOLED, 5.5",FULL HD</span>
                    </li>
                    <li>
                        <span>Hệ điều hành:</span>
                        <span>Android 7.0 (Nougat)</span>
                        <li>
                            <span>Camera sau:</span>
                            <span>13 MP</span>
                        </li>
                        <li>
                            <span>Camera trước:</span>
                            <span>13 MP</span>
                        </li>
                        <li>
                            <span>CPU:</span>
                            <span>Exynos 7870 8 nhân 64 bit</span>
                        </li>
                        <li>
                            <span>Ram:</span>
                            <span>3 GB</span>
                        </li>
                        <li>
                            <span>Bộ nhớ trong:</span>
                            <span>32 GB</span>
                        </li>
                        <li>
                            <span>Thẻ SIM:</span>
                            <span>2 Nano SIM, Hỗ trợ 4G</span>
                        </li>
                        <li>
                            <span>Dung lượng pin</span>
                            <span>3600 mAh</span>
                        </li>
                </ul>
            </div>
        </aside>
    </div>
    <div class="clr"></div>
    <div>
        <h2 style="font-size: 24px">Các Sản phẩm cùng loại</h2>
        <br/>
    </div>
    <div class="clr"></div>
    <aside>
        <div class="container">
            <div class="columns">
                <ul class="info">
                    <li class="info_name">Samsung Galaxy J7 Pro</li>
                    <li class="info_img">
                        <img src="/img/product/Samsung/samsung-galaxy-j7-pro.png" style="width: 100%">
                    </li>
                    <li class="info_price">6.900.000 đ</li>
                    <li class="info_sum">3GB RAM - 3600 mAh</li>
                    <li class="info_link" style="text-align: right; font-size: 11px;">
                        <a href="#">Chi tiết</a>
                    </li>
                </ul>
            </div>
            <div class="columns">
                <ul class="info">
                    <li class="info_name">Oppo F7</li>
                    <li class="info_img">
                        <img src="/img/product/Oppo/oppo-f7.png" style="width: 100%">
                    </li>
                    <li class="info_price">7.499.000 đ</li>
                    <li class="info_sum">4GB RAM - 3400 mAh</li>
                    <li class="info_link" style="text-align: right; font-size: 11px;">
                        <a href="#">Chi tiết</a>
                    </li>
                </ul>
            </div>
            <div class="columns">
                <ul class="info">
                    <li class="info_name">Vivo v9</li>
                    <li class="info_img">
                        <img src="/img/product/Vivo/vivo-v9.png" style="width: 100%">
                    </li>
                    <li class="info_price">6.900.000 đ</li>
                    <li class="info_sum">4GB RAM - 3400 mAh</li>
                    <li class="info_link" style="text-align: right; font-size: 11px;">
                        <a href="#">Chi tiết</a>
                    </li>
                </ul>
            </div>
            <div class="columns">
                <ul class="info">
                    <li class="info_name">Sony Xperia L1</li>
                    <li class="info_img">
                        <img src="/img/product/Sony/sony-xperia-l1.png" style="width: 100%">
                    </li>
                    <li class="info_price">6.900.000 đ</li>
                    <li class="info_sum">4GB RAM - 3400 mAh</li>
                    <li class="info_link" style="text-align: right; font-size: 11px;">
                        <a href="#">Chi tiết</a>
                    </li>
                </ul>
            </div>
            <div class="columns">
                <ul class="info">
                    <li class="info_name">Samsung Galaxy A8 Plus</li>
                    <li class="info_img">
                        <img src="/img/product/Samsung/samsung-galaxy-a8-plus.png" style="width: 100%">
                    </li>
                    <li class="info_price">6.900.000 đ</li>
                    <li class="info_sum">4GB RAM - 3400 mAh</li>
                    <li class="info_link" style="text-align: right; font-size: 11px;">
                        <a href="#">Chi tiết</a>
                    </li>
                </ul>
            </div>
    </aside>
    <br/>
    <div class="clr"></div>
    <div>
        <h2 style="font-size: 24px">Các Sản phẩm cùng hãng</h2>
        <br/>
    </div>
    <div class="clr"></div>
    <aside>
        <div class="container">
            <div class="columns">
                <ul class="info">
                    <li class="info_name">Samsung Galaxy J7 Pro</li>
                    <li class="info_img">
                        <img src="/img/product/Samsung/samsung-galaxy-j7-pro.png" style="width: 100%">
                    </li>
                    <li class="info_price">6.900.000 đ</li>
                    <li class="info_sum">3GB RAM - 3600 mAh</li>
                    <li class="info_link" style="text-align: right; font-size: 11px;">
                        <a href="#">Chi tiết</a>
                    </li>
                </ul>
            </div>
            <div class="columns">
                <ul class="info">
                    <li class="info_name">Oppo F7</li>
                    <li class="info_img">
                        <img src="/img/product/Oppo/oppo-f7.png" style="width: 100%">
                    </li>
                    <li class="info_price">7.499.000 đ</li>
                    <li class="info_sum">4GB RAM - 3400 mAh</li>
                    <li class="info_link" style="text-align: right; font-size: 11px;">
                        <a href="#">Chi tiết</a>
                    </li>
                </ul>
            </div>
            <div class="columns">
                <ul class="info">
                    <li class="info_name">Vivo v9</li>
                    <li class="info_img">
                        <img src="/img/product/Vivo/vivo-v9.png" style="width: 100%">
                    </li>
                    <li class="info_price">6.900.000 đ</li>
                    <li class="info_sum">4GB RAM - 3400 mAh</li>
                    <li class="info_link" style="text-align: right; font-size: 11px;">
                        <a href="#">Chi tiết</a>
                    </li>
                </ul>
            </div>
            <div class="columns">
                <ul class="info">
                    <li class="info_name">Sony Xperia L1</li>
                    <li class="info_img">
                        <img src="/img/product/Sony/sony-xperia-l1.png" style="width: 100%">
                    </li>
                    <li class="info_price">6.900.000 đ</li>
                    <li class="info_sum">4GB RAM - 3400 mAh</li>
                    <li class="info_link" style="text-align: right; font-size: 11px;">
                        <a href="#">Chi tiết</a>
                    </li>
                </ul>
            </div>
            <div class="columns">
                <ul class="info">
                    <li class="info_name">Samsung Galaxy A8 Plus</li>
                    <li class="info_img">
                        <img src="/img/product/Samsung/samsung-galaxy-a8-plus.png" style="width: 100%">
                    </li>
                    <li class="info_price">6.900.000 đ</li>
                    <li class="info_sum">4GB RAM - 3400 mAh</li>
                    <li class="info_link" style="text-align: right; font-size: 11px;">
                        <a href="#">Chi tiết</a>
                    </li>
                </ul>
            </div>
    </aside>
</section>