{{#section 'title'}} Homepage {{/section}}

{{#section 'css_js'}}
    <link rel="stylesheet" type="text/css" href="/assets/css/homepage.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/navigationBar.css">
    <script type="text/javascript" src="/assets/js/homepage.js"></script> 
{{/section}}

{{!-- Bên dưới này là nội dung trình bày body của template: {{{body}}} tronng main.handlebars --}}
<div class="navigation-bar" id="navBar">
    <form class="search-bar" style="float: left; margin-left:1%; margin-top: 7px;">
        <input type=text name="search" placeholder="Tìm kiếm...">
    </form>
    <a href="javascript:void(0);" class="dropdown-icon" onclick="dropdownNav()">&#9776;</a>
    <a href="#" class="none"></a>
    <a href="#">&#128100 Tài khoản</a>
    <a href="#">&#128722 Giỏ hàng</a>
    <a href="#">&#128172 Hỏi đáp</a>
    <a href="/">&#127968 Trang chủ</a>
</div>

<button onclick="backToTopFunction()" id="backToTop">&#9650</button>

<div class="main-content">
    <div class="side">
        <p class="catergory">Nhà sản xuất</p>
        <div class="side-button">
            <button>Apple</button>
            <button>Asus</button>
            <button>Huawei</button>
            <button>Lenovo</button>
            <button>LG</button>
            <button>Microsoft</button>
            <button>Samsung</button>
            <button>Sony</button>
            <button>Nokia</button>
        </div>
    </div>
    <div class="main">
        <p class="catergory">Sản phẩm mới</p>
        <div class="container">
            <div class="columns">
                <ul class="info">
                    <li class="info_name">Samsung Galaxy J7 Pro</li>
                    <li class="info_img">
                        <img src="/img/product/samsung-galaxy-j7-pro.png" style="width: 100%">
                    </li>
                    <li class="info_price">6.900.000 đ</li>
                    <li class="info_sum">3GB RAM - 3600 mAh</li>
                    <li class="info_link" style="text-align: right; font-size: 11px;">
                        <a href="/product">Chi tiết</a>
                    </li>
                </ul>
            </div>
            <div class="columns">
                <ul class="info">
                    <li class="info_name">Oppo F7</li>
                    <li class="info_img">
                        <img src="/img/product/oppo-f7.png" style="width: 100%">
                    </li>
                    <li class="info_price">7.499.000 đ</li>
                    <li class="info_sum">4GB RAM - 3400 mAh</li>
                    <li class="info_link" style="text-align: right; font-size: 11px;">
                        <a href="/product">Chi tiết</a>
                    </li>
                </ul>
            </div>
            <div class="columns">
                <ul class="info">
                    <li class="info_name">Vivo v9</li>
                    <li class="info_img">
                        <img src="/img/product/vivo-v9.png" style="width: 100%">
                    </li>
                    <li class="info_price">6.900.000 đ</li>
                    <li class="info_sum">4GB RAM - 3400 mAh</li>
                    <li class="info_link" style="text-align: right; font-size: 11px;">
                        <a href="/product">Chi tiết</a>
                    </li>
                </ul>
            </div>
            <div class="columns">
                <ul class="info">
                    <li class="info_name">Sony Xperia L1</li>
                    <li class="info_img">
                        <img src="/img/product/sony-xperia-l1.png" style="width: 100%">
                    </li>
                    <li class="info_price">6.900.000 đ</li>
                    <li class="info_sum">4GB RAM - 3400 mAh</li>
                    <li class="info_link" style="text-align: right; font-size: 11px;">
                        <a href="/product">Chi tiết</a>
                    </li>
                </ul>
            </div>
            <div class="columns">
                <ul class="info">
                    <li class="info_name">Samsung Galaxy A8 Plus</li>
                    <li class="info_img">
                        <img src="/img/product/samsung-galaxy-a8-plus.png" style="width: 100%">
                    </li>
                    <li class="info_price">6.900.000 đ</li>
                    <li class="info_sum">4GB RAM - 3400 mAh</li>
                    <li class="info_link" style="text-align: right; font-size: 11px;">
                        <a href="/product">Chi tiết</a>
                    </li>
                </ul>
            </div>

            <div class="columns">
                <ul class="info">
                    <li class="info_name">Huawei MediaPad T3</li>
                    <li class="info_img">
                        <img src="/img/product/huawei-mediapad-t3-10-inch.png" style="width: 100%">
                    </li>
                    <li class="info_price">4.990.000 đ</li>
                    <li class="info_sum">Android 7.0 - 1.4 GHz</li>
                    <li class="info_link" style="text-align: right; font-size: 11px;">
                        <a href="/product">Chi tiết</a>
                    </li>
                </ul>
            </div>
            <div class="columns">
                <ul class="info">
                    <li class="info_name">iPad Mini 4</li>
                    <li class="info_img">
                        <img src="/img/product/ipad-mini-4-wifi-128gb.png" style="width: 100%">
                    </li>
                    <li class="info_price">10.990.000 đ</li>
                    <li class="info_sum">iOS 10 - 1.5 GHz</li>
                    <li class="info_link" style="text-align: right; font-size: 11px;">
                        <a href="/product">Chi tiết</a>
                    </li>
                </ul>
            </div>
            <div class="columns">
                <ul class="info">
                    <li class="info_name">Mobell Tab 8s</li>
                    <li class="info_img">
                        <img src="/img/product/mobell-tab-8s.png" style="width: 100%">
                    </li>
                    <li class="info_price">2.490.000 đ</li>
                    <li class="info_sum">Android 6.0 - 1.3 GHz</li>
                    <li class="info_link" style="text-align: right; font-size: 11px;">
                        <a href="/product">Chi tiết</a>
                    </li>
                </ul>
            </div>
            <div class="columns">
                <ul class="info">
                    <li class="info_name">Oppo F7 128GB</li>
                    <li class="info_img">
                        <img src="/img/product/oppo-f7-128gb.png" style="width: 100%">
                    </li>
                    <li class="info_price">9.990.000 đ</li>
                    <li class="info_sum">6GB RAM - 3400 mAh</li>
                    <li class="info_link" style="text-align: right; font-size: 11px;">
                        <a href="/product">Chi tiết</a>
                    </li>
                </ul>
            </div>
            <div class="columns">
                <ul class="info">
                    <li class="info_name">iPad Pro 6GB 2017</li>
                    <li class="info_img">
                        <img src="/img/product/ipad-pro-105-inch-wifi-64gb-2017.png" style="width: 100%">
                    </li>
                    <li class="info_price">16.990.000 đ</li>
                    <li class="info_sum">iOS 10</li>
                    <li class="info_link" style="text-align: right; font-size: 11px;">
                        <a href="/product">Chi tiết</a>
                    </li>
                </ul>
            </div>
        </div>
        <br>
        <a href="#" class="see-more">xem thêm</a>

        <br>
        <hr width="100%">
        <p class="catergory">Bán chạy</p>
        <br>
        <a href="#" class="see-more">xem thêm</a>

        <br>
        <hr width="100%">
        <p class="catergory">Xem nhiều</p>

        <br>
        <a href="#" class="see-more">xem thêm</a>
    </div>
</div>