{{#section 'title'}} Homepage {{/section}}

{{!-- Chỗ khai báo sử dụng css/js riêng của template này --}}
{{#section 'css'}}
    <link rel="stylesheet" href="/public/assets/css/homepage.css" />
    <link rel="stylesheet" href="/public/assets/css/navigationBar.css" />
{{/section}}

{{#section 'js'}}
    <script type="text/javascript" src="/public/assets/js/homepage.js"></script>
{{/section}}

{{!-- Bên dưới này là nội dung trình bày body của template --}}

{{!-- copy và hiệu chỉnh phần body từ file index.html --}}
<div class="navigation-bar" id="navBar">
    <form class="search-bar" style="float: left; margin-left:1%; margin-top: 7px;">
        <input type=text name="search" placeholder="Tìm kiếm...">
    </form>
    <a href="javascript:void(0);" class="dropdown-icon" onclick="dropdownNav()">&#9776;</a>
    <a href="#" class="none"></a>
    <a href="#">&#128100 Tài khoản</a>
    <a href="#">&#128722 Giỏ hàng</a>
    <a href="#">&#128172 Hỏi đáp</a>
    <a href="/">&#127968 Trang chủ</a>
</div>

<button onclick="backToTopFunction()" id="backToTop">&#9650</button>

<div class="main-content">
    <div class="side">
        <p class="catergory">Nhà sản xuất</p>
        <div class="side-button">
            <button>Apple</button>
            <button>Asus</button>
            <button>Huawei</button>
            <button>Lenovo</button>
            <button>LG</button>
            <button>Microsoft</button>
            <button>Samsung</button>
            <button>Sony</button>
            <button>Nokia</button>
        </div>
    </div>
    <div class="main">
        <p class="catergory">Sản phẩm mới</p>
        <div class="container">
            <div class="columns">
                <ul class="info">
                    <li class="info_name">Samsung Galaxy J7 Pro</li>
                    <li class="info_img">
                        <img src="./data/img/samsung-galaxy-j7-pro.png" style="width: 100%">
                    </li>
                    <li class="info_price">6.900.000 đ</li>
                    <li class="info_sum">3GB RAM - 3600 mAh</li>
                    <li class="info_link" style="text-align: right; font-size: 11px;">
                        <a href="./product information/samsung-galaxy-j7-pro.html">Chi tiết</a>
                    </li>
                </ul>
            </div>
            <div class="columns">
                <ul class="info">
                    <li class="info_name">Oppo F7</li>
                    <li class="info_img">
                        <img src="./data/img/oppo-f7.png" style="width: 100%">
                    </li>
                    <li class="info_price">7.499.000 đ</li>
                    <li class="info_sum">4GB RAM - 3400 mAh</li>
                    <li class="info_link" style="text-align: right; font-size: 11px;">
                        <a href="./product information/samsung-galaxy-j7-pro.html">Chi tiết</a>
                    </li>
                </ul>
            </div>
            <div class="columns">
                <ul class="info">
                    <li class="info_name">Vivo v9</li>
                    <li class="info_img">
                        <img src="./data/img/vivo-v9.png" style="width: 100%">
                    </li>
                    <li class="info_price">6.900.000 đ</li>
                    <li class="info_sum">4GB RAM - 3400 mAh</li>
                    <li class="info_link" style="text-align: right; font-size: 11px;">
                        <a href="./product information/samsung-galaxy-j7-pro.html">Chi tiết</a>
                    </li>
                </ul>
            </div>
            <div class="columns">
                <ul class="info">
                    <li class="info_name">Sony Xperia L1</li>
                    <li class="info_img">
                        <img src="./data/img/sony-xperia-l1.png" style="width: 100%">
                    </li>
                    <li class="info_price">6.900.000 đ</li>
                    <li class="info_sum">4GB RAM - 3400 mAh</li>
                    <li class="info_link" style="text-align: right; font-size: 11px;">
                        <a href="./product information/samsung-galaxy-j7-pro.html">Chi tiết</a>
                    </li>
                </ul>
            </div>
            <div class="columns">
                <ul class="info">
                    <li class="info_name">Samsung Galaxy A8 Plus</li>
                    <li class="info_img">
                        <img src="./data/img/samsung-galaxy-a8-plus.png" style="width: 100%">
                    </li>
                    <li class="info_price">6.900.000 đ</li>
                    <li class="info_sum">4GB RAM - 3400 mAh</li>
                    <li class="info_link" style="text-align: right; font-size: 11px;">
                        <a href="./product information/samsung-galaxy-j7-pro.html">Chi tiết</a>
                    </li>
                </ul>
            </div>

            <div class="columns">
                <ul class="info">
                    <li class="info_name">Huawei MediaPad T3</li>
                    <li class="info_img">
                        <img src="./data/img/huawei-mediapad-t3-10-inch.png" style="width: 100%">
                    </li>
                    <li class="info_price">4.990.000 đ</li>
                    <li class="info_sum">Android 7.0 - 1.4 GHz</li>
                    <li class="info_link" style="text-align: right; font-size: 11px;">
                        <a href="./product information/samsung-galaxy-j7-pro.html">Chi tiết</a>
                    </li>
                </ul>
            </div>
            <div class="columns">
                <ul class="info">
                    <li class="info_name">iPad Mini 4</li>
                    <li class="info_img">
                        <img src="./data/img/ipad-mini-4-wifi-128gb.png" style="width: 100%">
                    </li>
                    <li class="info_price">10.990.000 đ</li>
                    <li class="info_sum">iOS 10 - 1.5 GHz</li>
                    <li class="info_link" style="text-align: right; font-size: 11px;">
                        <a href="./product information/samsung-galaxy-j7-pro.html">Chi tiết</a>
                    </li>
                </ul>
            </div>
            <div class="columns">
                <ul class="info">
                    <li class="info_name">Mobell Tab 8s</li>
                    <li class="info_img">
                        <img src="./data/img/mobell-tab-8s.png" style="width: 100%">
                    </li>
                    <li class="info_price">2.490.000 đ</li>
                    <li class="info_sum">Android 6.0 - 1.3 GHz</li>
                    <li class="info_link" style="text-align: right; font-size: 11px;">
                        <a href="./product information/samsung-galaxy-j7-pro.html">Chi tiết</a>
                    </li>
                </ul>
            </div>
            <div class="columns">
                <ul class="info">
                    <li class="info_name">Oppo F7 128GB</li>
                    <li class="info_img">
                        <img src="./data/img/oppo-f7-128gb.png" style="width: 100%">
                    </li>
                    <li class="info_price">9.990.000 đ</li>
                    <li class="info_sum">6GB RAM - 3400 mAh</li>
                    <li class="info_link" style="text-align: right; font-size: 11px;">
                        <a href="./product information/samsung-galaxy-j7-pro.html">Chi tiết</a>
                    </li>
                </ul>
            </div>
            <div class="columns">
                <ul class="info">
                    <li class="info_name">iPad Pro 6GB 2017</li>
                    <li class="info_img">
                        <img src="./data/img/ipad-pro-105-inch-wifi-64gb-2017.png" style="width: 100%">
                    </li>
                    <li class="info_price">16.990.000 đ</li>
                    <li class="info_sum">iOS 10</li>
                    <li class="info_link" style="text-align: right; font-size: 11px;">
                        <a href="./product information/samsung-galaxy-j7-pro.html">Chi tiết</a>
                    </li>
                </ul>
            </div>
        </div>
        <br>
        <a href="#" class="see-more">xem thêm</a>

        <br>
        <hr width="100%">
        <p class="catergory">Bán chạy</p>
        <div class="container">
            <div class="columns">
                <ul class="info">
                    <li class="info_name">iPad Pro 6GB 2017</li>
                    <li class="info_img">
                        <img src="./data/img/ipad-pro-105-inch-wifi-64gb-2017.png" style="width: 100%">
                    </li>
                    <li class="info_price">16.990.000 đ</li>
                    <li class="info_sum">iOS 10</li>
                    <li class="info_link" style="text-align: right; font-size: 11px;">
                        <a href="./product information/samsung-galaxy-j7-pro.html">Chi tiết</a>
                    </li>
                </ul>
            </div>
            <div class="columns">
                <ul class="info">
                    <li class="info_name">Oppo F7 128GB</li>
                    <li class="info_img">
                        <img src="./data/img/oppo-f7-128gb.png" style="width: 100%">
                    </li>
                    <li class="info_price">9.990.000 đ</li>
                    <li class="info_sum">6GB RAM - 3400 mAh</li>
                    <li class="info_link" style="text-align: right; font-size: 11px;">
                        <a href="./product information/samsung-galaxy-j7-pro.html">Chi tiết</a>
                    </li>
                </ul>
            </div>
            <div class="columns">
                <ul class="info">
                    <li class="info_name">Samsung Galaxy Tab A6</li>
                    <li class="info_img">
                        <img src="./data/img/samsung-galaxy-tab-a-70.png" style="width: 100%">
                    </li>
                    <li class="info_price">3.590.000 đ</li>
                    <li class="info_sum">Androi 5.1 - 1.3 GHz</li>
                    <li class="info_link" style="text-align: right; font-size: 11px;">
                        <a href="./product information/samsung-galaxy-j7-pro.html">Chi tiết</a>
                    </li>
                </ul>
            </div>
            <div class="columns">
                <ul class="info">
                    <li class="info_name">iPad Mini 4</li>
                    <li class="info_img">
                        <img src="./data/img/ipad-mini-4-wifi-128gb.png" style="width: 100%">
                    </li>
                    <li class="info_price">10.990.000 đ</li>
                    <li class="info_sum">iOS 10 - 1.5 GHz</li>
                    <li class="info_link" style="text-align: right; font-size: 11px;">
                        <a href="./product information/samsung-galaxy-j7-pro.html">Chi tiết</a>
                    </li>
                </ul>
            </div>
            <div class="columns">
                <ul class="info">
                    <li class="info_name">Oppo F7</li>
                    <li class="info_img">
                        <img src="./data/img/oppo-f7.png" style="width: 100%">
                    </li>
                    <li class="info_price">7.499.000 đ</li>
                    <li class="info_sum">4GB RAM - 3400 mAh</li>
                    <li class="info_link" style="text-align: right; font-size: 11px;">
                        <a href="./product information/samsung-galaxy-j7-pro.html">Chi tiết</a>
                    </li>
                </ul>
            </div>
            <div class="columns">
                <ul class="info">
                    <li class="info_name">HTC U Play</li>
                    <li class="info_img">
                        <img src="./data/img/htc-u-play.png" style="width: 100%">
                    </li>
                    <li class="info_price">4.190.000 đ</li>
                    <li class="info_sum">Android 6.0 - 3 GB RAM</li>
                    <li class="info_link" style="text-align: right; font-size: 11px;">
                        <a href="./product information/samsung-galaxy-j7-pro.html">Chi tiết</a>
                    </li>
                </ul>
            </div>
            <div class="columns">
                <ul class="info">
                    <li class="info_name">Mobell Tab 8s</li>
                    <li class="info_img">
                        <img src="./data/img/mobell-tab-8s.png" style="width: 100%">
                    </li>
                    <li class="info_price">2.490.000 đ</li>
                    <li class="info_sum">Android 6.0 - 1.3 GHz</li>
                    <li class="info_link" style="text-align: right; font-size: 11px;">
                        <a href="./product information/samsung-galaxy-j7-pro.html">Chi tiết</a>
                    </li>
                </ul>
            </div>
            <div class="columns">
                <ul class="info">
                    <li class="info_name">Vivo V5s</li>
                    <li class="info_img">
                        <img src="./data/img/vivo-1713-v5s.png" style="width: 100%">
                    </li>
                    <li class="info_price">5.990.000 đ</li>
                    <li class="info_sum">Funtouch OS 3.0 - 4 GB</li>
                    <li class="info_link" style="text-align: right; font-size: 11px;">
                        <a href="./product information/samsung-galaxy-j7-pro.html">Chi tiết</a>
                    </li>
                </ul>
            </div>
            <div class="columns">
                <ul class="info">
                    <li class="info_name">Sony Xperia L1</li>
                    <li class="info_img">
                        <img src="./data/img/sony-xperia-l1.png" style="width: 100%">
                    </li>
                    <li class="info_price">6.900.000 đ</li>
                    <li class="info_sum">4GB RAM - 3400 mAh</li>
                    <li class="info_link" style="text-align: right; font-size: 11px;">
                        <a href="./product information/samsung-galaxy-j7-pro.html">Chi tiết</a>
                    </li>
                </ul>
            </div>
            <div class="columns">
                <ul class="info">
                    <li class="info_name">OPPO A83</li>
                    <li class="info_img">
                        <img src="./data/img/oppo-a83.png" style="width: 100%">
                    </li>
                    <li class="info_price">4.990.000 đ</li>
                    <li class="info_sum">Android 7.1 - 3 GB</li>
                    <li class="info_link" style="text-align: right; font-size: 11px;">
                        <a href="./product information/samsung-galaxy-j7-pro.html">Chi tiết</a>
                    </li>
                </ul>
            </div>
        </div>
        <br>
        <a href="#" class="see-more">xem thêm</a>

        <br>
        <hr width="100%">
        <p class="catergory">Xem nhiều</p>
        <div class="container">
            <div class="columns">
                <ul class="info">
                    <li class="info_name">iPhone X 256 GB</li>
                    <li class="info_img">
                        <img src="./data/img/iphone-x-256gb.png" style="width: 100%">
                    </li>
                    <li class="info_price">34.790.000 đ</li>
                    <li class="info_sum">iOS 11 - 3GB RAM</li>
                    <li class="info_link" style="text-align: right; font-size: 11px;">
                        <a href="./product information/samsung-galaxy-j7-pro.html">Chi tiết</a>
                    </li>
                </ul>
            </div>
            <div class="columns">
                <ul class="info">
                    <li class="info_name">Bphone 2017</li>
                    <li class="info_img">
                        <img src="./data/img/bkav-bphone-2-hero.png" style="width: 100%">
                    </li>
                    <li class="info_price">9.790.000 đ</li>
                    <li class="info_sum">Android 7.1 - 3 GB RAM</li>
                    <li class="info_link" style="text-align: right; font-size: 11px;">
                        <a href="./product information/samsung-galaxy-j7-pro.html">Chi tiết</a>
                    </li>
                </ul>
            </div>
            <div class="columns">
                <ul class="info">
                    <li class="info_name">Lenovo Phab 2</li>
                    <li class="info_img">
                        <img src="./data/img/lenovo-phab2.png" style="width: 100%">
                    </li>
                    <li class="info_price">3.990.000 đ</li>
                    <li class="info_sum">Android 6.0 - 3 GB RAM</li>
                    <li class="info_link" style="text-align: right; font-size: 11px;">
                        <a href="./product information/samsung-galaxy-j7-pro.html">Chi tiết</a>
                    </li>
                </ul>
            </div>
            <div class="columns">
                <ul class="info">
                    <li class="info_name">Nokia 6</li>
                    <li class="info_img">
                        <img src="./data/img/nokia-6.png" style="width: 100%">
                    </li>
                    <li class="info_price">5.590.000 đ</li>
                    <li class="info_sum">Android 7.0 - 3 GB RAM</li>
                    <li class="info_link" style="text-align: right; font-size: 11px;">
                        <a href="./product information/samsung-galaxy-j7-pro.html">Chi tiết</a>
                    </li>
                </ul>
            </div>
            <div class="columns">
                <ul class="info">
                    <li class="info_name">Xiaomi Mi A1 64GB</li>
                    <li class="info_img">
                        <img src="./data/img/xiaomi-mi-a1-mau-vang-hong.png" style="width: 100%">
                    </li>
                    <li class="info_price">5.490.000 đ</li>
                    <li class="info_sum">Android 7.1 - 4GB RAM</li>
                    <li class="info_link" style="text-align: right; font-size: 11px;">
                        <a href="./product information/samsung-galaxy-j7-pro.html">Chi tiết</a>
                    </li>
                </ul>
            </div>
            <div class="columns">
                <ul class="info">
                    <li class="info_name">Samsung Galaxy J7 Pro</li>
                    <li class="info_img">
                        <img src="./data/img/samsung-galaxy-j7-pro.png" style="width: 100%">
                    </li>
                    <li class="info_price">6.900.000 đ</li>
                    <li class="info_sum">3GB RAM - 3600 mAh</li>
                    <li class="info_link" style="text-align: right; font-size: 11px;">
                        <a href="./product information/samsung-galaxy-j7-pro.html">Chi tiết</a>
                    </li>
                </ul>
            </div>
            <div class="columns">
                <ul class="info">
                    <li class="info_name">Oppo F7</li>
                    <li class="info_img">
                        <img src="./data/img/oppo-f7.png" style="width: 100%">
                    </li>
                    <li class="info_price">7.499.000 đ</li>
                    <li class="info_sum">4GB RAM - 3400 mAh</li>
                    <li class="info_link" style="text-align: right; font-size: 11px;">
                        <a href="./product information/samsung-galaxy-j7-pro.html">Chi tiết</a>
                    </li>
                </ul>
            </div>
            <div class="columns">
                <ul class="info">
                    <li class="info_name">Vivo v9</li>
                    <li class="info_img">
                        <img src="./data/img/vivo-v9.png" style="width: 100%">
                    </li>
                    <li class="info_price">6.900.000 đ</li>
                    <li class="info_sum">4GB RAM - 3400 mAh</li>
                    <li class="info_link" style="text-align: right; font-size: 11px;">
                        <a href="./product information/samsung-galaxy-j7-pro.html">Chi tiết</a>
                    </li>
                </ul>
            </div>
            <div class="columns">
                <ul class="info">
                    <li class="info_name">Oppo F7 128GB</li>
                    <li class="info_img">
                        <img src="./data/img/oppo-f7-128gb.png" style="width: 100%">
                    </li>
                    <li class="info_price">9.990.000 đ</li>
                    <li class="info_sum">6GB RAM - 3400 mAh</li>
                    <li class="info_link" style="text-align: right; font-size: 11px;">
                        <a href="./product information/samsung-galaxy-j7-pro.html">Chi tiết</a>
                    </li>
                </ul>
            </div>
            <div class="columns">
                <ul class="info">
                    <li class="info_name">Samsung Galaxy A8 Plus</li>
                    <li class="info_img">
                        <img src="./data/img/samsung-galaxy-a8-plus.png" style="width: 100%">
                    </li>
                    <li class="info_price">6.900.000 đ</li>
                    <li class="info_sum">4GB RAM - 3400 mAh</li>
                    <li class="info_link" style="text-align: right; font-size: 11px;">
                        <a href="./product information/samsung-galaxy-j7-pro.html">Chi tiết</a>
                    </li>
                </ul>
            </div>
        </div>
        <br>
        <a href="#" class="see-more">xem thêm</a>
    </div>
</div>

<div class="footer" style="color: white;">
    <MARQUEE BEHAVIOR=A LTERNATE | SCROLL | SLIDE DIRECTION=L EFT | RIGHT LOOP=i nt SCROLLAMOUNT=l ong SCROLLDELAY=l ong WIDTH=l
        ong>Sản phẩm chính hãng - Chất lượng đảm bảo - Giao hàng tận nơi - Phục vụ tận tình
    </MARQUEE>
</div>