body
{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Century Gothic', sans-serif;
    transition: 0.5s;
}
.title
{
    margin-top: 55px;
    position: relative;
    padding-top: 2vh;
    padding-bottom: 1vh;
    text-align: center;
    font-family: Helvetica;
    font-size: 26px;
    font-weight: bold;
    color: #ff8383;
}
.line
{
    position: relative;
    margin-bottom: 1vh;
    width: 100%;
    float: left;
    background-color: #ff8383;
    height: 2px;
}
.inputs
{
    position: relative;
    float: left;
    width: 100%;
    margin-top: 2vh;
    text-align: center;
}
.input
{
    float: none;
    position: relative;
    width: 80%;
    margin: 1vh auto;
    border: none;
    border-bottom: 2px solid #b0bec5;
    outline: none;
    font-weight: normal;
    color: #8ad8ff;
    background-color: transparent;
    transition: all 0.25s;
    font-size: 3vh;
    opacity: 1;
    display: inline-block;
}
.input:focus
{
    border-bottom: 2px solid #ff8383;
}
.button
{
    text-align: center;
}
.buttonEdit
{
    position: relative;
    background: rgba(255, 64, 88, 0.74);
    box-shadow: 0px 2px 20px 2px rgba(255, 114, 132, 0.5);
    border-radius: 8px;
    width: 80%;
    height: 10vh;
    border: none;
    color: #ffffff;
    font-size: 3vh;
    margin-top: 6vh; /*22vh*/
    margin-bottom: 6vh;
    cursor: pointer;
    transition: all 0.5s;
}
@media (max-width: 1024px)
{
    .buttonEdit
    {
        margin-top: 6vh;
    }
    .title
    {
        font-size: 36px;
    }
}
@media (max-width: 765px)
{
    .title
    {
        font-size: 26px;
    }
}
