body {
    background-color: #EEEEEE;
    margin: 0;
    font-family: Verdana, Geneva, sans-serif;
}

.footer {
    background-color: #0073f7;
    padding: 5px;
    text-align: left;
}
.footer p {
    color: #FFFFFF;
    text-align: center;
}

p.catergory {
    /* text-transform: uppercase; */
    color: #2196F3;
    font-style: oblique;
    font-weight: bold;
    font-size: 24px;
}

#backToTop {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 35px; /* Place the button at the bottom of the page */
    right: 5px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #0073f78a; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
}

#backToTop:hover {
    background-color: #0073f7d7; /* Add a dark-grey background on hover */
}

.container {
    display: flex;
    flex-flow: row wrap;
}

/* Product infomation */
.columns {
    width: 196px;
    padding: 10px;
    font-size: 12px;
}

/*@media screen and (max-width: 800px) {
    .columns { width: 33.333%; }
}*/

.info {
    list-style-type: none;
    /*border: 2px solid #fff;*/
    margin: 0;
    padding: 0;
    -webkit-transition: 0.1s;
    transition: 0.1s;
}
.info li {
    /*border-bottom: 1px solid #fff;*/
    padding: 4px;
    text-align: center;
}
.info:hover {
    /*border: 2px solid #444444;*/
    box-shadow: 0px 8px 12px 0px rgba(0, 0, 0, 0.5)
}
.info_name {
    color: #002255;
    font-weight: bold;
    font-size: 14px;
    max-width: 190px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; 
}
.info_img {
    width: 158px;
    height: 182px;
}
.info_price {
    font-size: 13px;
    font-weight: bold;
    color: #e10c00;
}
.info_sum {
    color: #333333;
}

.see-more {
    margin: auto;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    width: 100px;
    display: block;
    color: white;
    padding: 2px;
    border-radius: 10px;
    background-color: #00aaff;
}
.see-more:hover {
    background-color: #0073f7;
}

.side-button button {
    background-color: #f1f1f1; /* Green background */
    border: 1px solid #f1f1f1; /* Green border */
    color: #444444; /* White text */
    font-weight: bold;
    padding: 10px 20px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    width: 100%; /* Set a width if needed */
    display: block; /* Make the buttons appear below each other */
}

.side-button button:not(:last-child) {
    border-bottom: none; /* Prevent double borders */
}

/* Add a background color on hover */
.side-button button:hover {
    color: white;
    background-color: #0073f7;
}

.main-content {
    display: flex;
    flex-wrap: wrap;
}
.main-content .side {
    flex: 23%;
    background-color: #f1f1f1;
    padding: 20px;
}
.main-content .main {
    flex: 77%;
    background-color: white;
    padding: 20px;
}

@media screen and (max-width: 800px) {
    .main-content {
        flex-direction: column;
    }
}

.home_sidebtn a {
    color: black;
    text-decoration: none;
}

.home_sidebtn a:hover {
    color: white;
}

.home_product_detail {
    color: #444444;
    font-size: 12px;
    text-decoration: none;
}

.home_product_detail:hover {
    color: #0073f7;
}