body
{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Century Gothic', sans-serif;
    transition: 0.5s;
}
.p_title
{
    margin-top: 25px;
    position: relative;
    padding-top: 2vh;
    padding-bottom: 1vh;
    text-align: center;
    font-family: Helvetica;
    font-size: 26px;
    font-weight: bold;
    color: #00aaff;
}
.p_profile
{
    margin-top: 100px;
}
.p_line
{
    position: relative;
    margin-bottom: 10vh;
    width: 100%;
    float: left;
    background-color: #00aaff;
    height: 2px;
}
.p_inputs
{
    position: relative;
    float: left;
    width: 100%;
    margin-top: 2vh;
    text-align: center;
}
.p_input
{
    float: none;
    position: relative;
    width: 80%;
    margin: 1vh auto;
    border: none;
    border-bottom: 2px solid #b0bec5;
    outline: none;
    font-weight: normal;
    color: #8ad8ff;
    background-color: transparent;
    transition: all 0.25s;
    font-size: 3vh;
    opacity: 1;
    display: inline-block;
}
.p_input:focus
{
    border-bottom: 2px solid #00aaff;
}
.p_button
{
    text-align: center;
}
.p_buttonEdit
{
    position: relative;
    background: #00aaff;
    border-radius: 8px;
    width: 80%;
    height: 10vh;
    border: none;
    color: #ffffff;
    font-size: 3vh;
    margin-top: 6vh; /*22vh*/
    margin-bottom: 6vh;
    cursor: pointer;
    transition: all 0.5s;
}
table {
    width:80%;
    margin: 0 auto;
}
table tr
{
    height: 5vh;
}
table tr:nth-child(even) {
    background-color: #eee;
}
table tr:nth-child(odd) {
    background-color: #fff;
}
table th {
    background-color: #00aaff;
    color: white;
    height: 5vh;
}
table#td01 {
    position: relative;
    width:100%;
}
.p_button_table {
    width: 100%;
    background-color: #00aaff;
    border: none;
    color: white;
    padding: 15px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
@media (max-width: 1024px)
{
    .p_buttonEdit
    {
        margin-top: 6vh;
    }
    .p_title
    {
        font-size: 36px;
    }
}
@media (max-width: 765px)
{
    .p_title
    {
        font-size: 26px;
    }
}
