body
{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Century Gothic', sans-serif;
    transition: 0.5s;
}
div.bigBackground
{
    z-index: -1;
    height: 100vh;
    width: 100%;
    background: url(../img/bigBackground.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: bottom;
}
div.navigationBar
{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 45px;
    box-sizing: border-box;
    transition: 0.5s;
}
div.navigationBar div.shadowNavLeft,
div.navigationBar div.shadowNavRight
{
    z-index: 1;
    position: fixed;
    content:'';
    left: -14px;
    top: -30px;
    height: 40px;
    width:40%;
    background:#292929;
    -webkit-box-shadow: 0 25px 55px rgba(41, 41, 41, .5);
    -moz-box-shadow: 0 25px 55px rgba(41, 41, 41, .5);
    box-shadow: 0 25px 55px rgba(41, 41, 41, .5);
    -webkit-transform: rotate(-4deg);
    -moz-transform: rotate(-4deg);
    transform: rotate(-4deg);
}
div.navigationBar div.shadowNavRight{
    -webkit-transform: rotate(4deg);
    -moz-transform: rotate(4deg);
    transform: rotate(4deg);
    right: -14px;
    left: auto;
}
div.navigationBar div.background
{
    z-index: 2;
    position: fixed;
    width: 100%;
    height: 45px;
    background: #ffffff;
}
div.navigationBar a div.iconBack
{
    z-index: 3;
    position: fixed;
    margin-top: 5px;
    margin-left: 5vw;
    float: left;
    height: 35px;
    width: 121px;
    background: url(../img/iconBack.png);
    background-size: cover;
    background-attachment: contain;
    background-position: center;
    transition: 0.5s;
}
div.navigationBar a div.iconBack:hover
{
    margin-top: 1px;
    margin-left: 32px;
    height: 42px;
    width: 144px;
}
div.formSignIn
{
    z-index: 2;
    position: fixed;
    top: 45px;
    width: 100vw;
    height: 100vh;
    display: none;
}
div.formSignIn div.background
{
    width: 35vw;
    margin: 12vh auto 0vh auto;
    background: #ffffff;
    cursor: default;
    border-radius: 8px;
    transition: all 0.5s;
}
div.formSignIn div.background.active
{
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.21);
}
div.formSignIn div.background form div.tabs
{
    position: relative;
    float: left;
    width: 100%;
}
div.formSignIn div.background form div.tabs ul.ulTabs
{
    padding: 0px;
    padding-top: 1vh;
}
div.formSignIn div.background form div.tabs ul.ulTabs li
{
    position: relative;
    list-style: none;
    float: left;
    width: 50%;
    text-align: center;
}
div.formSignIn div.background form div.tabs ul.ulTabs li a 
{
    text-decoration: none;
    font-family: Helvetica;
    font-size: 26px;
    font-weight: bold;
    color: #999;
    display: block;
    transition: all 0.5s;
}
div.formSignIn div.background form div.tabs ul.ulTabs li.active a 
{
    color: #ff8383;
}
div.formSignIn div.background form div.tabs ul.ulTabs li span.line
{
    position: relative;
    margin-top: 1vh;
    width: 100%;
    float: left;
    background-color: #999;
    height: 2px;
}
div.formSignIn div.background form div.tabs ul.ulTabs li.active span.line
{
    background-color: #ff8383;
}
div.formSignIn div.background form div.inputs 
{
    position: relative;
    float: left;
    width: 100%;
    margin-top: 2vh;
    text-align: center!important;
}
div.formSignIn div.background form div.inputs input.input
{
    float: none;
    position: relative;
    width: 80%;
    margin: 1vh auto;
    border: none;
    border-bottom: 2px solid #b0bec5;
    outline: none;
    font-weight: bold;
    color: #8ad8ff;
    background-color: transparent;
    transition: all 0.5s;
    font-size: 0vh;
    opacity: 0;
    display: none;
}
div.formSignIn div.background form div.inputs input.input:focus
{
    border-bottom: 2px solid #ff8383;
}
div.formSignIn div.background form div.inputs input.input.activeInput
{
    font-size: 3vh;
    opacity: 1;
    display: inline-block;
}
div.formSignIn div.background form div.inputs input.input:nth-child(1)
{
    transition-delay: 0.2s;
}
div.formSignIn div.background form div.inputs input.input:nth-child(2)
{
    transition-delay: 0.4s;
}
div.formSignIn div.background form div.inputs input.input:nth-child(3)
{
    transition-delay: 0.6s;
}
div.formSignIn div.background form div.inputs input.input:nth-child(4)
{
    transition-delay: 0.8s;
}
div.formSignIn div.background form div.inputs input.input:nth-child(5)
{
    transition-delay: 1s;
}
div.formSignIn div.background form div.inputs a.linkForgotPass
{
    position: relative;
    margin-top: 0px;
    text-decoration: none;
    color: #999;
    font-size: 2vh;
    display: block;
    transition: all 0.5s;
}
div.formSignIn div.background form div.inputs a.linkForgotPass:hover
{
    color: #8ad8ff;
    transition: 0s;
}
div.formSignIn div.background form div.inputs div.termsAndCons
{
    margin: 0px 1vw 0px 1vw;
    font-size: 3vh;
    display: none;
    cursor: pointer;
    transition: all 0.5s;
}
div.formSignIn div.background form div.inputs div.termsAndCons p input
{
    margin: 0px;
    width: 3vh;
    height: 3vh;
    cursor: pointer;
}
div.formSignIn div.background form div.inputs div.termsAndCons p label
{
    cursor: pointer;
}
#recapcha_us
{
    width: 40%;
}
.recapcha
{
    opacity: 0;
    margin-right: 3.5vw;
    float: right;
    width: 10.5vw;
    height: 5vh;
    font-size: 3vh;
    font-style: italic;
    text-decoration: line-through;
    font-weight: bolder;
    color: #292929;
    background-color: #fff;
    transition: all 0.5s;
}
.active__recapcha
{
    opacity: 1;
}
div.formSignIn div.background form div.button
{
    text-align: center;
}
div.formSignIn div.background form div.button button.buttonSign
{
    position: relative;
    background: rgba(255, 64, 88, 0.74);
    box-shadow: 0px 2px 20px 2px rgba(255, 114, 132, 0.5);
    border-radius: 8px;
    width: 80%;
    height: 10vh;
    border: none;
    color: #ffffff;
    font-size: 3vh;
    margin-top: 22vh;
    margin-bottom: 6vh;
    cursor: pointer;
    transition: all 0.5s;
}
@media (max-width: 1024px)
{
    div.formSignIn div.background
    {
        width: 65vw;
        margin: 18vh auto 10vh auto;
    }
    div.formSignIn div.background form div.button button.buttonSign
    {
        margin-top: 12vh;
    }
    #recapcha_us
    {
        width: 40%;
    }
    .recapcha
    {
        margin-right: 6.5vw;
        width: 19.5vw;
    }
}
@media (max-width: 765px)
{
    div.formSignIn div.background form div.tabs ul.ulTabs
    {
        padding: 0px;
    }
    div.formSignIn div.background form div.tabs ul.ulTabs li a 
    {
        font-size: 16px;
        font-weight: normal;
    }
}
