body
{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Century Gothic', sans-serif;
    transition: 0.5s;
    background: #8ad8ff;
}
div.navigationBar
{
    z-index: 10;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 45px;
    box-sizing: border-box;
    transition: 0.5s;
}
div.navigationBar div.shadowNavLeft,
div.navigationBar div.shadowNavRight
{
    z-index: 11;
    position: fixed;
    content:'';
    left: -14px;
    top: -30px;
    height: 40px;
    width:40%;
    background:#292929;
    -webkit-box-shadow: 0 25px 55px rgba(41, 41, 41, .5);
    -moz-box-shadow: 0 25px 55px #29292980;
    box-shadow: 0 25px 55px rgba(41, 41, 41, .5);
    -webkit-transform: rotate(-4deg);
    -moz-transform: rotate(-4deg);
    transform: rotate(-4deg);
}
div.navigationBar div.shadowNavRight{
    -webkit-transform: rotate(4deg);
    -moz-transform: rotate(4deg);
    transform: rotate(4deg);
    right: -14px;
    left: auto;
}
div.navigationBar div.background
{
    z-index: 12;
    position: fixed;
    width: 100%;
    height: 45px;
    background: #ffffff;
}
div.navigationBar a div.iconBack
{
    z-index: 13;
    position: relative;
    margin-top: 5px;
    margin-left: 5vw;
    float: left;
    height: 35px;
    width: 134px;
    background: url(../img/iconHome.png);
    background-size: cover;
    background-attachment: contain;
    background-position: center;
    transition: 0.5s;
}
div.navigationBar a div.iconBack:hover
{
    margin-top: 1px;
    margin-left: 32px;
    height: 42px;
    width: 161px;
}
div.paper
{
    z-index: 2;
    position: relative;
    top: 45px;
    width: 100vw - 0px;
}
div.paper div.background
{
    width: 65vw;
    margin: 12vh auto;
    padding: 0vh 0vh;
    background: #ffffff;
    cursor: default;
    border-radius: 2px;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.21);
    transition: all 0.5s;
}
div.paper div.background form.info
{
    text-align: center;
}
div.paper div.background form.info input.input
{
    position: relative;
    width: 40%;
    margin: 2vh 1vw;
    border: none;
    border-bottom: 2px solid #b0bec5;
    outline: none;
    font-weight: bold;
    color: #8ad8ff;
    background-color: transparent;
    transition: all 0.5s;
    font-size: 3vh;
}
div.paper div.background form.info input.input:focus
{
    border-bottom: 2px solid #ff8383;
}
div.paper div.background div.order
{
    width: 100%;
    text-align: center;
}
div.paper div.background div.history
{
    display: block;
    width: 100%;
    padding-bottom: 5vh;
    text-align: center;
}
div.paper div.background div.history div.groupDate
{
    display: inline-table;
    width: 100%;
    text-align: center;
}
.buttonChange,
.buttonBuyNow
{
    position: relative;
    background: #63b547;
    border-radius: 8px;
    width: 40%;
    height: 10vh;
    border: none;
    color: #ffffff;
    font-size: 5vh;
    font-weight: bolder;
    margin-top: 2vh;
    margin-bottom: 1vh;
    margin-left: 28.5vw;
    cursor: pointer;
    transition: 0.1s;
}
.buttonChange:hover,
.buttonBuyNow:hover
{
    background: #51db22;
}
.date
{
    margin: 2px 0px;
    width: 100%;
    font-size: 5vh;
    font-weight: bolder;
    cursor: pointer;
    background: #8ad8ff;
}
.date:hover
{
    background: #ff8383;
}
.title
{
    text-align: left;
    margin: 5vh 0vh 2vh 0vh;
    padding-top: 5vh;
    padding-left: 3vw;
    width: 100% - 3vw;
    font-size: 5vh;
    font-weight: bolder;
    color: #292929;
    background: #ffffff;
    -webkit-box-shadow: 0px -10px 12px 0px rgba(0,0,0,0.22);
    -moz-box-shadow: 0px -10px 12px 0px rgba(0,0,0,0.22);
    box-shadow: 0px -10px 12px 0px rgba(0,0,0,0.22);
}
.groupImage
{
    position: relative;
    float: left;
    width: 10vw;
    margin: 3vh 0px 3vh 5vw;
    font-size: 2vw;
    font-weight: bolder;
    cursor: pointer;
    color: #292929;
}
.groupImage:hover
{
    margin: 2vh 0px 3vh 5vw;
}
.none .groupImage
{
    display: none;
}
.block .groupImage
{
    display: block;
}
.groupImage font
{
    color: red;
}
.img
{
    width: 10vw;
    object-fit: contain;
}
.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.6);
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
}
.inputCount
{
    top: 0;
    left: 0;
    width: 70%;
}
.buttonDelete
{
    font-weight: bolder;
    color: #292929;
    background-color: red;
}
.groupImage:hover .overlay {
    width: 100%;
}
@media (max-width: 1024px)
{
    div.paper div.background
    {
        width: 85vw;
    }
    .buttonChange,
    .buttonBuyNow
    {
        width: 80%;
        height: 10vh;
        font-size: 3vh;
        margin-top: 2vh;
        margin-bottom: 1vh;
        margin-left: auto;
    }
    .title
    {
        margin: 3vh 0vh 2vh 0vh;
        padding-top: 2vh;
    }
}
@media (max-width: 765px)
{
    div.paper div.background
    {
        width: 85vw;
        margin: 8vh auto;
    }
    div.paper div.background form.info input.input
    {
        width: 80%;
    }
    .date
    {
        font-size: 4vh;
    }
    .groupImage
    {
        width: 15vw;
        margin: 1vh 0px 1vh 5vw;
        font-size: 3vw;
    }
}
