body
{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Century Gothic', sans-serif;
    transition: 0.5s;
}
div.bigBackground
{
    z-index: -1;
    height: 100vh;
    width: 100%;
    background: url(../img/bigBackground.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: bottom;
}
div.navigationBar
{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 45px;
    box-sizing: border-box;
    transition: 0.5s;
}
div.navigationBar div.shadowNavLeft,
div.navigationBar div.shadowNavRight
{
    z-index: 1;
    position: fixed;
    content:'';
    left: -14px;
    top: -30px;
    height: 40px;
    width:40%;
    background:#292929;
    -webkit-box-shadow: 0 25px 55px rgba(41, 41, 41, .5);
    -moz-box-shadow: 0 25px 55px rgba(41, 41, 41, .5);
    box-shadow: 0 25px 55px rgba(41, 41, 41, .5);
    -webkit-transform: rotate(-4deg);
    -moz-transform: rotate(-4deg);
    transform: rotate(-4deg);
}
div.navigationBar div.shadowNavRight{
    -webkit-transform: rotate(4deg);
    -moz-transform: rotate(4deg);
    transform: rotate(4deg);
    right: -14px;
    left: auto;
}
div.navigationBar div.background
{
    z-index: 2;
    position: fixed;
    width: 100%;
    height: 45px;
    background: #ffffff;
}
div.navigationBar a div.iconBack
{
    z-index: 3;
    position: fixed;
    margin-top: 5px;
    margin-left: 5vw;
    float: left;
    height: 35px;
    width: 121px;
    background: url(../img/iconBack.png);
    background-size: cover;
    background-attachment: contain;
    background-position: center;
    transition: 0.2s;
}
div.navigationBar a div.iconBack:hover
{
    margin-top: 1px;
    margin-left: 32px;
    height: 42px;
    width: 144px;
}
div.screenWelcome
{
    z-index: 1;
    position: fixed;
    color: #ffffff;
    top: 0;
    left: 0px;
    width: 100%;
    height: 100vh;
}
div.screenWelcome div.title
{
    margin: 19vh auto 10vh auto;
    text-align: center;
    font-size: 10vw;
    cursor: default;
}
div.screenWelcome div.signIn,
div.screenWelcome div.signUp
{
    margin: 0px;
    margin-top: 22px;
    padding: 5px;
    width: 35vw;
    text-align: center;
    font-size: 5vw;
    font-weight: bolder;
    text-shadow: 2px 2px 0px rgba(255, 170, 230, 1);
    background: #ffffff;
    transform: skew(-20deg);
    color: #8ad8ff;
    transform: 0.5s;
    cursor: pointer;
}
div.screenWelcome div.signIn
{
    float: left;
    margin-left: 11vw;
}
div.screenWelcome div.signUp
{
    float: right;
    margin-right: 11vw;
}
div.screenWelcome div.signIn:hover,
div.screenWelcome div.signUp:hover
{
    text-shadow: 2px 2px 0px rgba(255, 170, 230, 1);
    background: #8ad8ff;
    transform: skew(-20deg);
    color: #ffffff;
}
@media (max-width: 1024px)
{
    div.screenWelcome div.title
    {
        margin: 29vh auto 0vh auto;
        text-align: center;
        font-size: 15vw;
    }
    div.screenWelcome div.signIn,
    div.screenWelcome div.signUp
    {
        margin: 0px;
        margin-top: 22px;
        padding: 5px;
        width: 35vw;
        text-align: center;
        font-size: 10vw;
        background: #ffffff;
        transform: skew(-20deg);
        color: #8ad8ff;
    }
    div.screenWelcome div.signIn
    {
        float: left;
        margin-left: 11vw;
    }
    div.screenWelcome div.signUp
    {
        float: right;
        margin-right: 11vw;
    }
}
@media (max-width: 500px)
{

}
